<mat-toolbar color="primary">
  <span>Braincook</span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="!auth.isLoggedIn" matTooltip="{{ 'Sign in' | translate }}" (click)="signIn()">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button *ngIf="!auth.isLoggedIn" matTooltip="{{ 'Sign up' | translate }}" (click)="signUp()">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button *ngIf="auth.isLoggedIn" matTooltip="{{ 'Profile' | translate }}">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button *ngIf="auth.isLoggedIn" (click)="logout()" matTooltip="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<ng-container *ngIf="loggedIn">
  <app-menu [openNav]="loggedIn"></app-menu>
</ng-container>
