<mat-toolbar color="primary">
  <button mat-icon-button matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Braincook</span>
  <span class="spacer"></span>
  <button mat-icon-button *ngIf="!this.loggedIn" matTooltip="Sign in" (click)="signIn()">
    <mat-icon>login</mat-icon>
  </button>
  <button mat-icon-button *ngIf="this.loggedIn" matTooltip="Profile"><mat-icon>person</mat-icon></button>
  <button mat-icon-button *ngIf="!this.loggedIn" matTooltip="Sign up" (click)="signUp()">
    <mat-icon>person_add</mat-icon>
  </button>
</mat-toolbar>
